{% extends "header.html" %}
{% block content %}

<div class="row" style="margin-left: -4rem;">
    <div class="col" style="text-align: center;">
        <h1>
            About
        </h1>
        <h6>Hello! This project aims to create a Pokemon fan club regarding the original 151 Kanto Pokemon. </h6>
        <h6>The website features pages for each of the Pokemon which includes their basic info, abilities, and moves.</h6>
        <h6>Users may create accounts to start commenting on their favorite Kanto Pokemon and use the favorite feature, 
            which marks a single Pokemon as their favorite Pokemon which is displayed on their profile page.</h6>
        <h6>Group Members: Jason Wang</h6>
        <b>
            <a href="{{ url_for('pokemon.index') }}">
                Return Home
            </a>
        </b>
    </div>
</div>

{% endblock %}