{% extends "header.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info" style="margin-left: -2rem;">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<h1 style="background-color: #FF6B6B; border-radius: 1rem; text-align: center; margin-left: -1rem; margin-right: 1rem;">Welcome to Pokemon Fan Club</h1>
<img src="{{url_for('static', filename='starters.jpg')}}" 
style="width: 30rem; 
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
border-radius: 3rem;"/><br/>

<div class="row" style="margin-left: 2rem;">
    <div class="col">
        <h4>Search for a Pokemon: </h4>
        <form action="/" class="form-inline my-2 my-lg-0" method="POST">
        {{ form.csrf_token }}
        {{ form.search_query(class="form-control", placeholder="Enter name or dex #") }}

        {% if form.search_query.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.search_query.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}

        {{ form.submit(class="btn btn-outline-success") }}
        </form>
    </div>
</div>

<br/><br/>

<span style="margin-left: 5%;"><b>Pokemon List (Original 151)</b></span>
<p style="margin-left: 5%;">Click to see more info and leave a comment and/or favorite!</p>
{% if pokemon_list %}
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr; margin-left: 7%;">
    {% for pokemon in pokemon_list %}
        <div><a href="/pokemon/{{pokemon}}">{{ pokemon }}</a></div>
    {% endfor %}
    </div>
{% endif %}
<a class="nav-link" href="{{ url_for('pokemon.display_about') }}">About</a>
{% endblock %}

<style>
    .form-inline {
        width: 50rem;
    }
</style>