{% extends "header.html" %}
{% block content %}
{% if pokemon %}
<h3><u>{{ pokemon['name'] }}</u></h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" style="margin-left: -2rem;">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <img src="{{ pokemon['sprite'].front_default }}" width="150rem">
    <h5>Basic Info {{ info_emoji }}</h5>
    <ul>
        <li>Pokedex Number: #{{ pokemon['dex_number']}}</li>
        <li>
            Type(s):
            <ul>
            {% for type in pokemon['types'] %}
                <li>
                    {{ type.type.name }}
                </li>
            {% endfor %}
            </ul>
        </li>
        <li>Height: {{ pokemon['height'] }}</li>
        <li>Weight: {{ pokemon['weight'] }}</li>
        <li>Base Exp: {{ pokemon['base_exp'] }}</li>
    </ul>
    
    {% if pokemon['stats'] %}
        <br/>
        <h5>Stats {{ stats_emoji }}</h5>
        <ul>
        {% for stat in pokemon['stats'] %}
            <li>
                {{ stat['name'] }} : {{ stat['baseStat'] }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if pokemon['abilities'] %}
        <br/>
        <h5>Abilities {{ ability_emoji }}</h5>
        <ul>
            {% for ability in pokemon['abilities'] %}
                <li><a href="/ability/{{ ability }}">{{ ability }}</a></li>
            {% endfor %}
        </ul>

    {% endif %}
    

    <br/>
    <h5>Where to find {{ pokemon['name'] }} in Kanto {{ locations_emoji }}</h5>
    {% if pokemon['locations'] %}
        <ul>
        {% for location in pokemon['locations'] %}
            <li>
                {{ location }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <ul><li>Cannot be encountered in the wild!</li></ul>
    {% endif %}

    {% if pokemon['moves'] %}
        <br/>
        <h5>Moves {{ moves_emoji }}</h5>
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
        {% for move in pokemon['moves'] %}
            <div><li>{{ move }}</li></div>
        {% endfor %}
        </div>
    {% endif %}

    {# Comments #}
    <div class="row">
      <div class="col-md-10">
        <br/>
        <h3>{{ num_favorited }} people have favorited this Pokemon</h3>
        <br/>
        <h3>Comments ({{ comments|length }} comments)</h3>
        <ul class="media-list">
          {% for comment in comments %}
          <li class="media review-item" style="border: 1px solid black; border-radius: 2rem; margin-bottom: 1rem;">
            <div class="media-body">
              <a href="{{ url_for('users.user_detail', username=comment.commenter.username) }}">
                <strong>{{ comment.commenter.username }} </strong>
              </a><span>@ {{ comment.date }}</span>
              <p>
                {{ comment.content }}
              </p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
    {% if current_user.is_authenticated %}
    {# Comment and Favorite submission form #}
    <div class="row">
      <div class="col-md-10">
        <form method="POST" action="">
          {{ form.csrf_token }}
          <div class="form-group">
            {{ form.text.label }}
            {{ form.text(class="form-control") }}
    
            {% if form.text.errors %}
            <div class="alert alert-warning" role="alert">
              {% for error in form.text.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% endif %}
            <br/>
            {{ form.submit(class="btn btn-primary") }}
          </div>

        </form>
      </div>
    </div>
    <div class="row">
        <div class="col-md-10">
          <form method="POST" action="">
            {{ favorite_form.csrf_token }}
            <span style="margin-left: 2rem;">{{ favorite_form.submit(class="btn btn-success") }}</span>
          </form>
        </div>
    </div>
    {% endif %}

{% endif %}
{% endblock %}