{% extends "header.html" %}
{% block content %}
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div class="container-fluid">
    <h3><u>Results:</u></h3>
    {% if results %}
        {% for result in results %}
        <div class="media">
            <h5 class="mt-0"><a href="{{ url_for('pokemon.pokemon_info', pokemon_name=result['name']) }}">{{ result['name'] }}</a></h5>
            <img src="{{ result['sprite'].front_default }}" alt="missing">
        </div>
        {% endfor %}
    {% else %}
        <h5>No results found</h5>
    {% endif %}

    <a href="{{ url_for('pokemon.index') }}">
        Return Home
    </a>
</div>

{% endblock %}