{% extends "header.html" %}
{% block content %}
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div class="container-fluid">
    {% for result in results %}
    <div class="media">
        <img src="{{ result['sprite'].front_default }}" class="mr-3 movie" alt="missing">
        <div class="media-body">
        <h5 class="mt-0"><a href="{{ url_for('pokemon.pokemon_info', pokemon_name=result['name']) }}">{{ result['name'] }}</a></h5>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}