{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>{{ username }}'s Profile</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1><span style="text-decoration: underline;">Comments</span><small class="float-right" style="margin-right: 5rem;">{{ comments.count() }} comments</small></h1>
        <ul class="media-list" style="margin-right: 5rem;">
            {% for comment in comments %}
            <li class="media review-item">
                <div class="media-body">
                    <span class="float-right">
                        <small>{{ comment.date }}</small>
                    </span>
                    <strong>For: <a href="{{ url_for('pokemon.pokemon_info', pokemon_name=comment.pokemon_name) }}">
                            {{ comment.pokemon_name }}
                        </a>
                    </strong>
                    <p>
                        {{ comment.content }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}